<navigation></navigation>
<div class="container">
    <div class="row">
        <products-list
                *ngIf="products.length"
                [products] = "products">
        </products-list>
    </div>
</div>
