<div class="col-xs-12 product-thumb">
    <div class="product-thumb-wrapper">
        <div class="product-thumb__image"></div>
        <div class="product-thumb__name">{{ product.name }}</div>
        <div class="product-thumb__price">{{ product.price }}</div>
        <div class="product-thumb__add-to-cart">
            <div class="add-to-cart-button">
                <button class="add-to-cart-button__button btn">Add <span class="glyphicon glyphicon-shopping-cart"></span></button>
            </div>
        </div>
    </div>
</div>